body {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* Override default AR button styles to make it look better on a white background */
  #ARButton {
    border: 1px solid rgb(8, 8, 8) !important;
    color: rgb(2, 2, 2) !important;
  }

  #XRButton {
    border: 1px solid rgb(8, 8, 8) !important;
    color: rgb(2, 2, 2) !important;
  }
